// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #c10015
$secondary = #000000
$accent    = #9C27B0

$positive  = #222cba
$negative  = #c10015
$info      = #31CCEC
$warning   = #f2c037
